/* Global Styles */

h1, h2, h3, h4 {
	font-family: 'Lato', Thin;
	color: purple;
}

p{
	font-family: 'Roboto', light;
	font-family: 'Lato', Thin;
}

/* Font hierarchy */

h1{
	font-size: 3em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.75em;
}

p{
	color: #666666;
}

p{
	margin: 0 0 10px;
	display: block;

}

body{
	padding-top: 50px;
}

@media only screen and (max-width: 767px){

	h1{
		font-size: 2em;
	}

	h2{
		font-size: 1.625em;
	}

	h3{
		font-size: 1.375em;
	}
}



/* GALERIA */

.nombre-galeria{
	text-align: center;
	margin: 25px;

}

.footer_fullmun{
	background-color: #F2F1F5;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 30px;

}

.row{
	padding-left: 60px;
	padding-right: 60px;
}

.button2{
	border-radius: 10px;
}

.nav li {
    font-family: 'Lato', Thin;
}

.container-fluid{
	padding-right: 40px;
}

.container-logo{
	padding: 30px;
}

i{
	color: #C2BDCE;
}

@media only screen and (max-width: 320px){

.container-logo{
	padding: 10px;
}
.row{
	padding-left: 20px;
	padding-right: 20px;
}


}

@media only screen (min-width: 320px) and (max-width: 767px){

.container-logo{
	padding: 30px;
}
.row{
	padding-left: 50px;
	padding-right: 50px;
}


}

/* BIO */

/* CONTACTO */

.contacto{
	padding: 35px;
	font-family: 'Lato', Thin;
}

.boton-contacto{
	border-radius: 7px;
	margin-top: 5px;
}
