/* Global Styles */

h1, h2, h3, h4 {
	font-family: 'Lato', Thin;
	color: purple;
}

p{
	font-family: 'Roboto', light;
	font-family: 'Lato', Thin;
}

/* Font hierarchy */

h1{
	font-size: 3em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.75em;
}

p{
	color: #666666;
}

p{
	margin: 0 0 10px;
	display: block;

}

@media only screen and (max-width: 767px){

	h1{
		font-size: 2em;
	}

	h2{
		font-size: 1.625em;
	}

	h3{
		font-size: 1.375em;
	}
}

/* GALERIA */

.nombre-galeria{
	text-align: center;
	margin: 25px;

}

.footer_fullmun{
	background-color: #F2F1F5;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 30px;

}

.row{
	padding-left: 60px;
	padding-right: 60px;
}





/* BIO */

/* CONTACTO */

