/* Global Styles */

h1, h2, h3, h4 {
	font-family: 'Lato', Thin;
	color: purple;
}

p{
	font-family: 'Roboto', light;
	font-family: 'Lato', Thin;
}

/* Font hierarchy */

h1{
	font-size: 3em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.75em;
}

p{
	color: #666666;
}

p{
	margin: 0 0 10px;
	display: block;

}